@page "/"
@using WestWindSystem.BLL
@using WestWindSystem.Entities

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<img src="/img/s3fa8f9d63b734f32892910df05ed1207o.webp" 
alt="Monitor Logo"
title="Please buy me"
height="400" width="400"/>

<p>
    Build Id @currentBuildVersion.Id, 
    Major @currentBuildVersion.Major,
    Minor @currentBuildVersion.Minor,
    Build @currentBuildVersion.Build,
    Release Date @currentBuildVersion.ReleaseDate.ToString("yyyy-MM-dd")
</p>

@code {

    [Inject]
    protected BuildVersionServices BuildVersionServices { get; set; }

    private BuildVersion currentBuildVersion;

    protected override void OnInitialized()
    {
        currentBuildVersion = BuildVersionServices.GetBuildVersion();
    }
}
