@page "/query/products"
@using WestWindWebApp.BlazorPagination

<PageTitle>Product Query</PageTitle>

<h3>Product Query</h3>

<div class="row">
    <div class="col-sm">
        <label for="selectedcategory" class="form-label">Product Category</label>
    </div>
    <div class="col-sm-6">
    <select id="selectedcategory" class="form-select" aria-label="Product Category"
            @onchange="OnCategoryChanged">
        <option selected=@(selectedCategoryId == 0) value="0">Open this select menu</option>
        @foreach(var currentCategory in categories)
        {
            <option value="@currentCategory.CategoryId" 
                    selected=@(currentCategory.CategoryId == selectedCategoryId)>
                    @currentCategory.CategoryName
            </option>

        }
    </select>
    </div>
    <div class="col-sm">
        <button @onclick="OnClickSearchByCategory" class="btn btn-info">Search</button>
        <button @onclick="OnClickCancel" class="btn btn-secondary">Clear</button>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <label for="productname" class="form-label">ProductName/CategoryName/Supplier</label>
    </div>
    <div class="col-sm-6">
        <input type="text" id="productname" class="form-control" @bind="searchValue" />
    </div>
    <div class="col-sm">
        <button class="btn btn-info" @onclick="OnProductSearch">Search By Name</button>
    </div>
</div>

@if(feedbackMessage != null)
{
    <div class="alert alert-info">
        @feedbackMessage
    </div>
}

@if (ProductsQueryResult.RowCount > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category Name</th>
                <th>Supplier Company Name</th>
                <th class="text-end">Unit Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currentProduct in ProductsQueryResult.Results)
            {
                <tr>
                    <td>@currentProduct.ProductId</td>
                    <td>@currentProduct.ProductName</td>
                    <td>@currentProduct.Category.CategoryName</td>
                    <td>@currentProduct.Supplier.CompanyName</td>
                    <td class="text-end">@currentProduct.UnitPrice</td>
                    <td><a href="/crud/productcrud/@currentProduct.ProductId">edit</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="center">
        <BlazorPager CurrentPage="ProductsQueryResult.CurrentPage"
                     PageCount="ProductsQueryResult.PageCount"
                     VisiblePages="3"
                     ShowFirstLast="true"
                     ShowPageNumbers="true"
                     FirstText="&laquo;"
                     LastText="&raquo;"
                     NextText="&rsaquo;"
                     PreviousText="&lsaquo;"
                     OnPageChanged="(async e => { CurrentPage = e; await OnProductSearch();})">
        </BlazorPager>
    </div>
}
